.navbar-container {
  width: 100%;
  height: 24px;
  padding: 2px;
  margin-bottom: 10px;
  background-color: #ff6600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-primary,
.navbar-secondary {
  display: flex;
  justify-content: center;
}
.navbar-logo img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  border: 1px solid #ffffff;
}
.navbar-primary-span,
.navbar-secondary a {
  font-size: 13.33px;
  font-family: Verdana, Geneva, sans-serif;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #000000;
  text-decoration: none;
}
.navbar-primary-span a,
.navbar-secondary p {
  margin-right: 4.65px;
  color: #000000;
  text-decoration: none;
}
.navbar-primary-span a:nth-child(1) {
  font-size: 13.33px;
  font-weight: 600;
  font-family: Verdana, Geneva, sans-serif;
  margin-right: 10px;
}
