.navbar-container {
  width: 100%;
  height: 24px;
  padding: 2px;
  margin-bottom: 10px;
  background-color: #ff6600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-primary,
.navbar-secondary {
  display: flex;
  justify-content: center;
}
.navbar-logo img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  border: 1px solid #ffffff;
}
.navbar-primary-span,
.navbar-secondary a {
  font-size: 13.33px;
  font-family: Verdana, Geneva, sans-serif;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #000000;
  text-decoration: none;
}
.navbar-primary-span-1 {
  margin-left: 10px;
}
.navbar-primary-span a,
.navbar-secondary p {
  margin-right: 4.65px;
  color: #000000;
  text-decoration: none;
}
.navbar-secondary {
  margin-right: 10px;
}
.navbar-title {
  font-size: 13.33px;
  font-weight: 600;
  font-family: Verdana, Geneva, sans-serif;
}

@media screen and (max-width: 768px) {
  .navbar-container {
    height: 48px;
  }
  .navbar-primary {
    align-items: center;
  }
  .navbar-title {
    font-size: 15.33px;
  }
  .navbar-primary-span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5px;
  }
  .navbar-primary-span-1 {
    margin: 0;
  }
  .navbar-primary-span-1 a {
    font-size: 11.5px;
  }
}
@media screen and (max-width: 425px) {
  .navbar-container {
    height: 58px;
  }
  .navbar-primary-span-1 {
    max-width: 270px;
  }
  .navbar-primary-span-1 a {
    font-size: 11.33px;
  }
}
