* {
  font-family: Verdana, Geneva, sans-serif;
}
.news-container {
  width: 100%;
  margin-top: 8px;
  display: flex;
  flex-direction: row;
}
.news-no {
  min-width: 36px;
  color: #828282;
  font-size: 13.33px;
  display: flex;
  justify-content: end;
  padding: 3px 3px 0 0;
}
.news-title {
  font-size: 13.33px;
  color: #000000;
  text-decoration: none;
}
.news-website {
  font-size: 10.66px;
  color: #828282;
}
.news-website:hover {
  text-decoration: underline;
}
.news-details {
  font-size: 9.33px;
  color: #828282;
  margin-top: 3px;
}

@media screen and (max-width: 768px) {
  .news-no {
    padding: 3px 6px 0 0;
  }
}
